/* HOME */
@font-face {
    font-family: Raleway-Regular;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Regular.ttf)
}
@font-face {
    font-family: Raleway-Light;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Light.ttf)
}
@font-face {
    font-family: Raleway-Bold;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Bold.ttf)
}

h1,
h2,
p,
button {
    margin: 0 10%;
    font-family: Raleway-Regular, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #3C3B3A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 25%;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    margin: 15px;
    font-family: Raleway-Regular, sans-serif;
}

.active {
    font-weight: bold;
}

.home-introduction h1{
    font-family: Raleway-Bold;
    font-size: 3rem;
    margin: 0 inherit;
    padding: 25px 0;
    color: #3C3B3A;
}

.home-introduction p {
    font-size: 1.75rem;
    line-height: 1.3;
    color: #3C3B3A;
    margin-top: 5px;
}

.icons {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 10px 0;
    color: #3C3B3A;
}

.icons p {
    font-size: 1rem;
}

.scroll {
    display: none;
}

button[type="submit"],
.discover button {
    color: white;
    font-family: Raleway-Regular;
    background-color: #26A682;
    border: 0;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #26A682;
}

button[type="submit"] p,
.discover button[type="submit"] p {
    font-size: 3rem;
    color: white;
    font-family: Raleway-Bold;
}

.home-introduction img{
    max-width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.discover img {
    width: 768px;
    height: 250px;
    object-fit: cover;
}

.discover h1 {
    margin-top: 25px;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
}

.discover h2 {
    font-size: 1.85rem;
    color: #529180;
    margin-top: 15px;
    font-style: normal;
    font-family: Raleway-Light;
}

.discover p {
    font-size: 1.25rem;
    color: #3C3B3A;
    line-height: 2.25;
}

.discover .p-alt {
    display: none;
    font-size: 1.25rem;
    color: #3C3B3A;
    line-height: 2.25;
}

.discover button[type="submit"] p {
    font-size: 1.75rem;
    margin-left: auto;
    margin-right: auto;
}

.discover button[type="submit"] {
    display: flex;
    width: 45%;
    margin-left: auto;
    margin-top: 25px;
}

.quote {
    background-color: #3C3B3A;
    padding-top: 25px;
}

.quote img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 25px auto;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid white;
}

.quote h1 {
    color: white;
    text-align: center;
    margin: 10px;
}

.quote p {
    color: white;
    font-size: 1.25rem;
    line-height: 2.25;
    padding-bottom: 75px;
}

footer {
    background-color: #3C3B3A;
    color: white;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 
        ". socials back-to-top"
}

.socials {
    text-align: center;
    margin: 50px auto;
    grid-area: socials;
}

.socials h1 {
    font-family: Raleway-Light;
    margin-bottom: 10px;
}

.socials img {
    padding: 0 10px;
    vertical-align: middle;
}

.back-to-top {
    text-align: center;
    margin: 50px auto 50px auto;
    padding-top: 10px;
    grid-area: back-to-top;
}

.back-to-top p {
    margin: 0;
    font-size: 0.75rem;
}

.back-to-top img {
    height: 25px;
    width: 25px;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    header img {
        max-width: 10%;
        margin-right: auto;
        margin-left: 10%;
    }
    
    header a {
        margin-left: 10px;
    }

    .home-introduction h1{
        font-family: Raleway-Bold;
        font-size: 4.5rem;
        margin-top: 50px;
        padding-bottom: 0;
    }
    
    .home-introduction p {
        font-size: 1.5rem;
    }
    
    .icons {
        grid-template-columns: auto auto auto auto;
        margin: 25px 10%;
    }

    .icons p {
        font-size: 0.75rem;
    }

    .scroll {
        display: block;
        margin: 25px;
    }

    .scroll p {
        text-align: center;
        display: block;
        font-size: 1rem;
    }
    
    .scroll img {
        transform: scaleY(-1);
        height: 25px;
        width: 25px;        
    }
    
    button[type="submit"] {
        display: block;
        margin: 25px auto;
        width: 40%;
    }
    
    button[type="submit"] p,
    .discover button[type="submit"] p {
        font-size: 2.5rem;
    }
    
    .home-introduction img{
        max-width: 45%;
    }

    .discover img {
        width: 1500px;
        height: 200px;
    }
    
    .discover h1 {
        margin-top: 50px;
    }
    
    .discover p  {
        display: none;
    }
    
    .discover .p-alt {
        font-size: 1.1rem;
        display: block;
    }
    
     .discover button[type="submit"] p {
        display: block;
    }
    
    .discover button[type="submit"] {
        margin: 25px 10% 25px auto;
        padding: 0;
        width: 40%;
    }

    #entertainment {
        display: block;
        font-size: 1.1rem;
    }

    .quote {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 225px 40px 150px;
        grid-template-areas: 
            "image paragraph"
            "name paragraph"
            "title paragraph"
    }
    
    .quote img {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        grid-area: image;
    }
    
    .quote h1 {
        grid-area: name;
        font-size: 1.5rem;
    }

    .quote #president {
        grid-area: title;
    }
    
    .quote p {
        font-size: 1.33rem;
        line-height: 1.75;
        grid-area: paragraph;
    }

    footer {
        grid-template-columns: 20% 60% 20%; 
    }
}

@media (min-width: 1300px) {
    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 40% 20% 10% 20% 6%; 

        /* header 0.9cm
        home-introduction 11.9cm
        1discover 5.9cm
        quote 2.9cm
        2discover 5.9cm
        footer 1.5cm */
    }

    header img {
        max-width: 5%;
    }

    .links {
        margin-right: 10%;
    }

    .home-introduction {
        margin: 50px 10% 0 10%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 25% 15% 15% 33% 10%;
        grid-template-areas:
            "h1 image"
            "p image"
            "icons image"
            "button image"
            "scroll scroll"
    }

    .home-introduction h1 {
        grid-area: h1;
        padding:0;
        margin:0;
    }

    .home-introduction p {
        grid-area: p;
        margin:0;
        font-size: 1.33rem;
    }
    
    .home-introduction .icons {
        grid-area: icons;
    }

    .home-introduction button {
        grid-area: button;
        height: 20%;
        width: 70%;
    }

    .home-introduction img {
        grid-area: image;
        max-width: 100%;
    }

    .home-introduction .scroll {
        grid-area: scroll;
    }

    .icons p {
        font-size: 0.75rem;
    }

    .discover {
        background-color: #F2F2F2;
        padding: 50px 80px 50px 75px;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 20% 25% 40%;
        grid-template-areas:
            "discover-image discover-h1"
            "discover-image discover-h2"
            "discover-image discover-p"
            "discover-image discover-button"
    }

    .discover img {
        width: 960px;
        height: 275px;
        /* margin: 50px 10px 50px 75px; */
        grid-area: discover-image;
    }
    
    .discover h1 {
        margin: 0 0 0 10%;
        grid-area: discover-h1;
    }

    .discover h2 {
        grid-area: discover-h2;
    }
    
    .discover p  {
        display: block;
        grid-area: discover-p;
        line-height: 1.25;
    }
    
    .discover .p-alt {
        display: none;
    }
    
     .discover button[type="submit"] p {
        grid-area: discover-button;
        padding: auto 0;
        font-size: 1.75rem;
    }
    
    .discover button[type="submit"] {
        margin: auto 0 0 auto;
        width: 30%;
    }     

    #entertainment {
        font-size: 1.25rem;
        line-height: 1.25;
    }

    .quote {
        padding: 10px 50px;
        display: grid;
        grid-template-columns: 15% 15% 70%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "image name paragraph"
            "image title paragraph"
    }
    
    .quote img {
        width: 150px;
        height: 150px;
        margin: 10px auto;
        grid-area: image;
    }
    
    .quote h1 {
        grid-area: name;
        font-size: 1.5rem;
        padding-top: 50px;
        margin: 0;
    }

    .quote #president {
        grid-area: title;
        padding: 0 0 50px 0;
        margin: 0;
    }
    
    .quote p {
        font-size: 1.33rem;
        line-height: 1.5;
        grid-area: paragraph;
        padding: 15px 0 0 0;
        margin: 0 50px;
    }

    footer {
        background-color: #3C3B3A;
        color: white;
    
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100%;
        grid-template-areas: 
            ". socials back-to-top"

    }

    .socials {
        text-align: center;
        margin: auto;
        grid-area: socials;
    }
    
    .socials h1 {
        font-family: Raleway-Light;
        margin-bottom: 10px;
    }
    
    .socials img {
        padding: 0 10px;
        vertical-align: middle;
    }
    
    .back-to-top {
        text-align: center;
        margin: auto;
        padding-top: 10px;
        grid-area: back-to-top;
    }
    
    .back-to-top p {
        margin: 0;
        font-size: 0.75rem;
    }
    
    .back-to-top img {
        height: 25px;
        width: 25px;
    }
}

/* ABOUT */

.expected {
    margin: 35px 0;
}

.expected h1 {
    font-family: Raleway-Bold;
    color: #3C3B3A;
    font-size: 3rem;
    margin-bottom: 25px;
}

.expected p {
    font-size: 1.6rem;
    color: #3C3B3A;
    line-height: 1.6;    
}

.expected img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.about,
.services {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.about h1,
.services h1 {
    position: absolute;
    z-index: 9;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 6%;
    text-align: center;
    width: 60%;

    color: white;
    font-size: 4rem;
    font-family: Raleway-Bold;
}

.about img,
.services img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.about h2 {
    margin-top: 30px;
    font-size: 2.5rem;
    font-style: italic;
    font-family: Raleway-Bold;
    color: #3C3B3A;
}

.about p {
    margin-top: 10px;
    line-height: 2.125;
    font-size: 1.3rem;
    color: #3C3B3A;
}

.services h1 {
    top: 35%;
    font-size: 3.5rem;
}

.break h2,
.friends h2,
.newyear h2,
.climbing h2 {
    margin-top: 25px;
    font-size: 2.33rem;
    font-family: Raleway-Bold;
}

.break h3,
.friends h3,
.newyear h3,
.climbing h3 {
    margin: 10px 0 10px 10%;
    font-family: Raleway-Light;
    font-size: 2rem;
    color: #26A682;
}

.break p,
.friends p,
.newyear p,
.climbing p {
    font-size: 1.25rem;
    line-height: 2.25;
    padding-bottom: 25px;
}

.friends,
.climbing {
    background-color: #F2F2F2;
    padding: 25px 0;
}

.newsletter {
    background-color: #3C3B3A;
    padding-top: 30px;
    padding-bottom: 10px;
}

.newsletter h1 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 15px 0;
}

.newsletter button {
    color: white;
    font-family: Raleway-Bold;
    font-size: 1.5rem;
    padding: 10px 30px;
    background-color: #26A682;
    border: 0;
    border-radius: 50px;
    margin: 25px auto;
    display: block;
    box-sizing: border-box;
}

.thanks {
    margin: 0 10%;
}

.thanks h1 {
    font-family: Raleway-Bold;
    font-size: 4.1rem;
    text-align: center;
    color: #3C3B3A;
    line-height: 1.25;
    margin: 25px 0;
}

.thanks img {
    object-fit: cover;
    display: block;
    margin: 50px auto 50px auto;
    margin-left: auto;
    margin-right: auto;

}

 .thanks img:nth-child(4) {
    width: 300px;
    height: auto;
}

.thanks img:nth-child(5) {
    width: 200px;
    height: auto;
}

@media (min-width: 768px) {
    
}