/* This adds the appropriate fonts needed for the midterm */
@font-face {
    font-family: Raleway-Regular;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Regular.ttf)
}
@font-face {
    font-family: Raleway-Light;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Light.ttf)
}
@font-face {
    font-family: Raleway-Bold;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Bold.ttf)
}

/* Lines 18 to 244 affect the mobile view for the home page. */

/* From lines 18 to 47, some "global values" are introduced. What I mean is for example right below here, I'm setting the font-family as well as the margin to all h1's, h2's, p's and a's that are within the main section. */
main h1,
main h2,
main p,
main a {
    font-family: Raleway-Regular, sans-serif;
    margin: 0 10%;
}

.home-introduction h1,
.expected h1,
.hear h1 {
    font-size: 3rem;
    font-family: Raleway-Bold;
    color: #3c3b3a;
    padding: 30px 0;
}

.home-introduction p,
.expected p,
.hear p {
    font-size: 1.75rem;
    line-height: 1.5;
    color: #3c3b3a;
    margin-top: 5px;
}

main img {
    max-width: 100%;
    height: auto;
}

/* The header is being worked from lines 50 to 86, I chose to make it flexbox because I thought that it would look better in my opinion than using grid, plus I wanted to get away with using both flexbox and grid in this midterm assignment. */
header {
    background-color: #3C3B3A;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

header img {
    max-width: 25%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    margin: 15px;
    padding: 5px 0;
}

/* This tiny animation intices the user to switch between pages if they hover over the "home," "about," or "contact" pages. */
header a:hover {
    animation-name: a-hover;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.active {
    font-weight: bold;
}

/* Lines 89 to 130 affect the "main top part" of the home page. it's the first page the "user" will see when going onto my website. */
.icons {
    text-align: center;
    color: #3c3b3a;
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
}

.icons p {
    font-size: 1rem;
}

.scroll {
    display: none;
}

main button {
    font-size: 2.5rem;
    font-family: Raleway-Bold;
    color: white;
    background-color: #26a682;
    border-radius: 50px;
    border: 0;
    margin: 25px auto;
    padding: 10px 125px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(128,128,128, 0.7);
}

main button:active {
    animation-name: button-press;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.home-introduction img{
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* From lines 133 to 172 deals with both the "discover" section above the quote section and below it too. */
.discover img {
    width: 768px;
    height: 250px;
    object-fit: cover;
}

.discover h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: #3c3b3a;
    margin-top: 25px;
}

.discover h2 {
    font-size: 1.85rem;
    font-family: Raleway-Light;
    font-style: normal;
    color: #529180;
    margin-top: 15px;
}

.discover p {
    font-size: 1.25rem;
    line-height: 2.25;
    color: #3c3b3a;
}

.discover .p-alt {
    font-size: 1.25rem;
    color: #3c3b3a;
    line-height: 2.25;
    display: none;
}

.discover button {
    font-size: 1.5rem;
    margin: 25px 10% 25px auto;
    padding: 10px 30px;
}

/* The SA quote is being set-up here from lines 175 to 201. */
.quote {
    background-color: #3c3b3a;
    padding-top: 25px;
}

.quote img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid white;
    margin: 25px auto;
    display: block;
    box-sizing: border-box;
}

.quote h1 {
    color: white;
    text-align: center;
    margin: 10px;
}

.quote p {
    font-size: 1.25rem;
    line-height: 2.25;
    color: white;
    padding-bottom: 75px;
}

/* the footer is being affected from lines 204 to 244, this is the "basis" for all other footers in other pages. */
footer {
    color: white;
    background-color: #3c3b3a;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
        ". socials back-to-top"
}

.socials {
    text-align: center;
    margin: 50px auto;
    grid-area: socials;
}

.socials h1 {
    font-family: Raleway-Light;
    margin-bottom: 10px;
}

.socials img {
    vertical-align: middle;
    padding: 0 10px;
}

.back-to-top {
    text-align: center;
    margin: 50px auto;
    padding-top: 10px;
    grid-area: back-to-top;
}

.back-to-top p {
    font-size: 0.75rem;
    margin: 0;
}

.back-to-top img {
    width: 25px;
    height: 25px;
}

/* Lines 247 to 380 are what affect the tablet view of the home page. */
@media (min-width: 768px) {
    /* From lines 249 to 267, the header is being changed again so that the links are displayed along to the right side. */
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    header img {
        max-width: 10%;
        margin-right: auto;
        margin-left: 10%;
    }

    .links {
        margin-right: 10%;
        flex-direction: row;
    }
    
    header a {
        margin-left: 10px;
    }

    /* Here, from lines 270 to 283, more "global values" are being adjusted, this time it is for for tablet view. */
    .home-introduction h1,
    .expected h1,
    .hear h1{
        font-size: 4.5rem;
        font-family: Raleway-Bold;
        margin-top: 50px;
        padding-bottom: 0;
    }
    
    .home-introduction p,
    .expected p,
    .hear p {
        font-size: 1.5rem;
    }

    .icons {
        margin: 25px 10%;
        grid-template-columns: auto auto auto auto;
    }

    .icons p {
        font-size: 0.75rem;
    }

    /* Another tiny animation which makes the user want to scroll down further to read more. */
    .scroll {
        margin: 10px;
        display: block;
        animation-name: scroll-hint;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    /* From lines 304 to 314, the scroll animation feature from the above lines are being set up here. */
    .scroll p {
        font-size: 1rem;
        text-align: center;
        display: block;
    }
    
    .scroll img {
        width: 25px;        
        height: 25px;
        transform: scaleY(-1);
    }

    button {
        font-size: 2.5rem;
        padding: 10px 30px;
    }
    
    .home-introduction img{
        max-width: 45%;
    }

    .discover img {
        width: 1500px;
        height: 200px;
    }
    
    .discover h1 {
        margin-top: 50px;
    }
    
    .discover p  {
        display: none;
    }
    
    .discover .p-alt {
        font-size: 1.1rem;
        display: block;
    }

    #entertainment {
        font-size: 1.1rem;
        display: block;
    }

    /* I decided to use CSS grid for the quote section because I originally tried to use flexbox however I felt that grid was a better fit for the quote area. This goes from line 349 to line 380. */
    .quote {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 225px 40px 150px;
        grid-template-areas:
            "image paragraph"
            "name paragraph"
            "title paragraph"
    }
    
    .quote img {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        grid-area: image;
    }
    
    .quote h1 {
        font-size: 1.5rem;
        grid-area: name;
    }

    .quote #president {
        grid-area: title;
    }
    
    .quote p {
        font-size: 1.33rem;
        line-height: 1.75;
        grid-area: paragraph;
    }
}

/* Lines 383 to 580 are what affect the desktop "web" view of the home page. */
@media (min-width: 1300px) {
    /* For the entire web view of the home page, I decided to make it have a display of grid. */
    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 40% 20% 10% 20% 6%; 
    }

    header img {
        max-width: 5%;
    }

    /* Here, from lines 396 to 442, I also chose to make the "home-introduction" section as grid so that it would format nicely. */
    .home-introduction {
        margin: 50px 10% 0;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 25% 15% 15% 33% 10%;
        grid-template-areas:
            "h1 image"
            "p image"
            "icons image"
            "button image"
            "scroll scroll"
    }

    .home-introduction h1 {
        margin: 0;
        padding: 0;
        grid-area: h1;
    }

    .home-introduction p {
        font-size: 1.33rem;
        margin: 0;
        grid-area: p;
    }
    
    .home-introduction .icons {
        grid-area: icons;
    }

    .home-introduction button {
        margin: 80px auto;
        padding: 10px 30px;
        grid-area: button;
    }

    .home-introduction img {
        max-width: 100%;
        grid-area: image;
    }

    .home-introduction .scroll {
        grid-area: scroll;
    }

    .icons p {
        font-size: 0.75rem;
    }

    /* Same as with the "home-introduction" section, the "discover" section is being given a display of grid, to make formatting look more appealing. This goes from lines 445 to 497. */
    .discover,
    #firstdiscover {
        background-color: #F2F2F2;
        padding: 50px 80px 50px 75px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px 125px 50px;
        grid-template-areas:
            "discover-h1 discover-image"
            "discover-h2 discover-image"
            "discover-p discover-image"
            "discover-button discover-image"
    }

    .discover img,
    #firstdiscover img {
        width: 960px;
        height: 275px;
        grid-area: discover-image;
    }
    
    .discover h1 {
        margin: 0;
        grid-area: discover-h1;
    }

    .discover h2 {
        margin: 0;
        grid-area: discover-h2;
    }
    
    .discover p  {
        line-height: 1.25;
        margin: 0 5% 0 0;
        display: block;
        grid-area: discover-p;
    }
    
    .discover .p-alt {
        display: none;
    }
    
    .discover button {
        font-size: 1.75rem;    
        margin: auto 5% 0 auto;
        padding: 5px 20px;
        grid-area: discover-button;
    }     

    #entertainment {
        font-size: 1.25rem;
        line-height: 1.25;
    }

    /* Here I'm just altering how the grid looks for the quote. */
    .quote {
        padding: 10px 50px;
        grid-template-columns: 15% 15% 70%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "image name paragraph"
            "image title paragraph"
    }
    
    .quote img {
        width: 150px;
        height: 150px;
    }
    
    .quote h1 {
        margin: 0;
        padding-top: 50px;
    }

    .quote #president {
        margin: 0;
        padding: 0 0 50px 0;
    }
    
    .quote p {
        line-height: 1.5;
        margin: 0 50px;
        padding: 15px 0 0 0;
    }

    /* Same thing here as in the above comment, regarding the style of the grid. */
    #firstdiscover {
        grid-template-areas:
            "firstdiscover-image firstdiscover-h1"
            "firstdiscover-image firstdiscover-h2"
            "firstdiscover-image firstdiscover-p"
            "firstdiscover-image firstdiscover-button"
    }

    #firstdiscover img {
        grid-area: firstdiscover-image;
    }

    #firstdiscover h1 {
        margin-left: 10%;
        grid-area: firstdiscover-h1;
    }

    #firstdiscover h2 {
        margin-left: 10%;
        grid-area: firstdiscover-h2;
    }

    #firstdiscover p {
        margin-left: 10%;
        grid-area: firstdiscover-p;
    }

    #firstdiscover button {
        margin-right: 0;
        grid-area: firstdiscover-button;
    }

    /* I wanted to change how the footer looks because I needed to in order to fit the "desktop" web view. */
    footer {
        padding: 25px 0;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100%;
        grid-template-areas:
            ". socials back-to-top"
    }

    .socials {
        margin: auto;
    }
    
    .back-to-top {
        margin: auto;
    }
}

/* Lines 585 to 750 are what affect the mobile view of the about page. */

/* Since I used the "global values" at the beginning of my CSS file, I don't really need to alter too much for the expected class so there's only minimal adjustments here from lines 585 to 606. */
.expected {
    margin: 35px 0;
}

.expected h1 {
    padding: 0 0 30px 0;
}

.expected .h1-alt {
    display: none;
}

.expected .p-alt {
    display: none;
}

.expected img {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* This here, from lines 609 to 665, format the about and contact classes themselves, as well as the images, the h1's, and the green filter I applied to the images for the about and services classes. */
.about,
.services {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.about h1,
.services h1 {
    font-size: 4rem;
    font-family: Raleway-Bold;
    text-align: center;
    color: white;
    width: 60%;
    margin: 0 auto;
    top: 6%;
    right: 0;
    left: 0;
    z-index: 9;
    position: absolute;
}

.about img,
.services img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.about h2 {
    font-size: 2.5rem;
    font-family: Raleway-Bold;
    font-style: italic;
    color: #3c3b3a;
    margin-top: 30px;
}

.about p {
    font-size: 1.3rem;
    line-height: 2.125;
    color: #3c3b3a;
    margin-top: 10px;
}

.services h1 {
    font-size: 3.5rem;
    top: 35%;
}

#greenaboutfilter,
#greenservicesfilter {
    background-color: rgba(16, 64, 50, 0.75);
    width: 100%;
    height: 250px;
    top: 0%;
    position: absolute;
}

/* I'm affecting all of the services provided, from lines 668 to 710. From the "Need a break?" section, down to the "Indoor climbing?" section. */
.break img,
.friends img,
.newyear img,
.climbing img {
    max-width: 100%;
    display: none;
}

.break h2,
.friends h2,
.newyear h2,
.climbing h2 {
    font-size: 2.33rem;
    font-family: Raleway-Bold;
    color: #3c3b3a;
    margin-top: 25px;
}

.break h3,
.friends h3,
.newyear h3,
.climbing h3 {
    font-size: 2rem;
    font-family: Raleway-Light;
    color: #26a682;
    margin: 10px 0 10px 10%;
}

.break p,
.friends p,
.newyear p,
.climbing p {
    font-size: 1.25rem;
    line-height: 2.25;
    color: #26a682;
    padding-bottom: 25px;
}

.friends,
.climbing {
    background-color: #F2F2F2;
    padding: 25px 0;
}

/* The newsletter portion of the about page between the "Competitive Friends?" section and "New year, new me." section is being set up from lines 713 to 729. */
.newsletter {
    background-color: #3c3b3a;
    padding-top: 30px;
    padding-bottom: 10px;
}

.newsletter h1 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 0 0 15px 0;
}

.newsletter button {
    padding: 10px 30px;
    box-shadow: none;
}

/* Lastly, the thank you section is set up here, down to line 750. */
.thanks {
    margin: 0 10%;
}

.thanks h1 {
    font-size: 4.1rem;
    font-family: Raleway-Bold;
    line-height: 1.25;
    text-align: center;
    color: #3c3b3a;
    margin: 25px 0;
}

.thanks img {
    object-fit: cover;
    width: 300px;
    margin: 50px auto 50px auto;
    display: block;
}

/* Lines 753 to 914 are what affect the tablet view of the about page. */
@media (min-width: 768px) {
    /* Here, the "What to expect during" part at the top of the about page is what's being altered here, swapping in and out h1's and p's mostly. */
    .expected {
        margin: 75px 0;
    }

    .expected h1 {
        display: none;
    }
    
    .expected .h1-alt {
        display: block;
    }

    .expected p:nth-child(3) {
        display: none; 
    }

    .expected .p-alt {
        display: block;
    }

    .about h1 {
        top: 8%;
    }

    .about img,
    .services img {
        height: 175px;
    }

    .about p {
        font-size: 1.125rem;
        line-height: 2;
    }
    
    .services h1 {
        top: 30%;
    }

    #greenaboutfilter,
    #greenservicesfilter {
        height: 175px;
    }

    .break img,
    .friends img,
    .newyear img,
    .climbing img {
        width: 90%;
        height: 360px;
        object-fit: cover;
        display: block;
    }

    /* This sets up the grid display for the break and newyear classes. */
    .break,
    .newyear {
        padding: 50px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 50px 50px 260px;
        grid-template-areas:
            "break-image break-h2"
            "break-image break-h3"
            "break-image break-p"
    }

    .break img,
    .newyear img {
        grid-area: break-image;
    }

    .break h2,
    .newyear h2 {
        margin: 0;
        grid-area: break-h2;
    }

    .break h3,
    .newyear h3 {
        margin: 0;
        grid-area: break-h3;
    }

    .break p,
    .newyear p {
        line-height: 1.6;
        margin: 0;
        grid-area: break-p;
    }

    .newsletter {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .newsletter h1 {
        margin: 0px;
    }
    
    .newsletter button {
        font-size: 1.5rem;
        margin: 15px 25px 15px 50px;
    }

    /* Exact same thing going on here as above with the break and newyear classes with the grid display, however it is reversed to show the picture on the opposite side. */
    .friends,
    .climbing {
        padding: 50px;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 50px 50px 260px;
        grid-template-areas:
            "friends-h2 friends-image"
            "friends-h3 friends-image"
            "friends-p friends-image"
    }

    .friends img,
    .climbing img {
        grid-area: friends-image;
    }

    .friends h2,
    .climbing h2 {
        margin: 0;
        grid-area: friends-h2;
    }

    .friends h3,
    .climbing h3 {
        margin: 0;
        grid-area: friends-h3;
    }

    .friends p,
    .climbing p {
        line-height: 1.6;
        margin: 0;
        padding: 0 25px 0 0;
        grid-area: friends-p;
    }

    .thanks h1 {
        font-size: 4rem;
    }

    .thanks img:nth-child(2) {
        width: 500px;
    }
    
    .thanks img:nth-child(4) {
        width: 250px;
    }
    
    .thanks img:nth-child(5) {
        width: 150px;
    }
}

/* Lines 917 to 1099 are what affect the "desktop" web view of the about page. */
@media (min-width: 1300px) {
    main {
        display: block;
    }

    /* Here, from lines 923 to 966, I set up another grid system for the "desktop" web view of the about page. */
    .expected {
        padding: 0 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 20% 20% 20%;
        grid-template-areas:
            "expected-h1 expected-image"
            ". expected-image"
            "expected-p expected-image"
            "expected-p2 ."
    }

    .expected h1 {
        margin: 0;
        display: block;
        grid-area: expected-h1;
    }
    
    .expected .h1-alt {
        display: none;
    }

    .expected p:nth-child(3) {
        font-size: 1.4rem;
        margin: 0;
        display: block; 
        grid-area: expected-p;
    }

    .expected .p-alt {
        display: none;
    }

    .expected p:nth-child(6) {
        font-size: 1.4rem;
        margin: 0;
        grid-area: expected-p2;
    }

    .expected img {
        max-width: 100%;
        margin: 0;
        grid-area: expected-image;
    }

    .www {
        padding: 100px 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .www p {
        font-size: 0.9rem;
    }
    .www h2:nth-child(1) {
        grid-area: 1 / 1 / 1 / 1;
    }

    .www p:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .www h2:nth-child(3) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .www p:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .www h2:nth-child(5) {
        grid-area: 1 / 3 / 2 / 4;
    }

    .www p:nth-child(6) {
        grid-area: 2 / 3 / 3 / 4;
    }

    .newsletter h1 {
        font-size: 1.75rem;
    }
    
    .newsletter button {
        margin-left: 100px;
        padding: 10px 75px;
    }

    /* Here are just some slight adjustments I made to the grid display so that it looks more visually appealing for the "desktop" web view. This goes from line 1012 to line 1070. */
    .break,
    .newyear {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 40% 40%;
        grid-template-areas:
            "break-image break-h2"
            "break-image break-h3"
            "break-image break-p"
    }

    .break img,
    .newyear img {
        width: 960px;
        height: 275px;
    }

    .break h2,
    .newyear h2 {
        margin-left: 25px;
    }

    .break h3,
    .newyear h3 {
        margin-left: 25px;
    }

    .break p,
    .newyear p {
        font-size: 1.2rem;
        margin-left: 25px;
    }

    .friends,
    .climbing {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 40% 40%;
        grid-template-areas:
            "friends-h2 friends-image"
            "friends-h3 friends-image"
            "friends-p friends-image"
    }

    .friends img,
    .climbing img {
        width: 960px;
        height: 275px;
    }

    .friends p,
    .climbing p {
        font-size: 1.2rem;
    }

    .break,
    .friends,
    .newyear,
    .climbing {
        padding: 50px;
    }

    .thanks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .thanks h1 {
        font-size: 4.5rem;
        margin: 25px 25%;
        display: block;
    }

    .thanks img {
        object-fit: contain;
    }

    .thanks img:nth-child(2) {
        max-width: 25%;
    }
    
    .thanks img:nth-child(4) {
        width: 15%;
    }
    
    .thanks img:nth-child(5) {
        width: 10%;
    }
}

/* Lines 1104 to 1197 are what affect the mobile view of the contact page. */

/* Since I used the "global values" at the beginning of my CSS file, I don't really need to alter too much for the hear class so there's only minimal adjustments here from lines 1104 to 1112. */
.hear p:nth-child(3) {
    display: none;
}

.hear img {
    max-width: 80%;
    margin: 25px auto;
    display: block;
}

/* Here is probably the longest part of the contact part of my CSS, as it deals with the "Contact us." form. This goes from line 1115 all the way to 1169. */
.contactus {
    background-color: #26a682;
    border-radius: 30px;
    margin: 50px 10%;
    box-shadow: 10px 10px 10px rgba(128,128,128, 0.5);
    display: flex;
    flex-direction: column;
}

.contactus h1 {
    font-size: 3.5rem;
    font-family: Raleway-Bold;
    color: white;
    margin: 25px 5% 0 5%;
}

form {
    margin: 5%;
}

label {
    font-size: 1.5rem;
    font-family: Raleway-Regular;
    color: white;
}

input[type="text"] {
    font-size: 1.5rem;
    font-family: Raleway-Regular;
    border-radius: 30px;
    border: 0;
    width: 95%;
    margin: 10px 0 25px 0;
    padding: 10px 0px 10px 25px;
    display: block;
    clear: both;
}

input[type="text"]:nth-child(8) {
    border-radius: 15px;
    padding: 10px 0px 100px 25px;
}

input[type="submit"] {
    font-size: 3rem;
    font-family: Raleway-Bold;
    color: white;
    background-color: #3c3b39;
    width: 100%;
    border-radius: 30px;
    border: 0;
    margin-bottom: 25px;
    padding: 5px 0;
    box-shadow: 0px 10px 10px rgba(60,59,57, 0.7);
}

/* Lines 1172 to 1191 affect the location information, showing users where they're able to find where the ARC building is. */
.location h1 {
    font-size: 3rem;
    font-family: Raleway-Bold;
    margin-top: 50px;
}

.location h2 {
    font-size: 2rem;
    font-family: Raleway-Light;
    margin: 25px 10%;
}

.location p {
    font-size: 1.25rem;
    line-height: 2;
}

.location p:nth-child(7) {
    margin-bottom: 50px;
}

#contact-map {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Lines 1200 to 1242 are what affect the tablet view of the contact page. */
@media (min-width: 768px) {
    /* From 1202 to 1212, the p gets switched and the image width gets changed. */
    .hear p:nth-child(2) {
        display: none;
    }

    .hear p:nth-child(3) {
        display: block;
    }

    .hear img {
        max-width: 60%;
    }

    .contactus {
        margin: 0px 10%;
    }

    .contactus h1 {
        font-size: 4.5rem;
    }

    input[type="text"] {
        font-size: 1rem;
        margin: 25px 0;
        padding: 15px 0px 15px 25px;
   }

    input[type="submit"] {
        width: 50%;
        margin-bottom: 0;
        margin-left: auto;
        display: block;
    }

    .location h1 {
        font-size: 4rem;
    }

    .location h2 {
        font-size: 2.5rem;
    }
}

/* Lines 1245 to 1287 are what affect the "desktop" web view of the about page. */
@media (min-width: 1300px) {
    .contactcontent {
        display: grid;
        grid-template-columns: 60% 10% 20%; 
        grid-template-rows: 950px 40%;
        grid-template-areas:
            "hear contactus contactus"
            "location contact-map contact-map"
    }

    .hear {
        grid-area: hear;
    }

    .hear p:nth-child(2) {
        font-size: 1.25rem;
        display: block;
    }

    .hear p:nth-child(3) {
        display: none;
    }

    .contactus {
        margin: 80px 0 50px 0;
        grid-area: contactus;
    }

    .contactus h1 {
        font-size: 4rem;
    }

    .location {
        grid-area: location;
    }

    #contact-map {
        width: 750px;
        height: 354px;
        margin-top: 50px;
        grid-area: contact-map;
    }
}

/* These final bits of code at the very end of my style.css here from 1290 to 1330 are for the animations used within the webpage. I decided to put them here just so that they're out of the way and do not clutter the above code. */
@keyframes button-press {
    0%  {
        transform: scale(1);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes a-hover {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scroll-hint {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-5px);
    }

    25% {
        transform: translateY(10px);
    }
}