@font-face {
    font-family: Raleway-Regular;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Regular.ttf)
}
@font-face {
    font-family: Raleway-Light;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Light.ttf)
}
@font-face {
    font-family: Raleway-Bold;
    src: url(mtm6201-midterm-master-files/Raleway/static/Raleway-Bold.ttf)
}

h1,
h2,
p,
button {
    margin: 0 10%;
    font-family: Raleway-Regular, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #3C3B3A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 25%;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    margin: 15px;
    font-family: Raleway-Regular, sans-serif;
}

.active {
    font-weight: bold;
}

.home-introduction h1{
    font-size: 3rem;
    margin: 0 inherit;
    padding: 25px 0;
    color: #3C3B3A;
}

.home-introduction p {
    font-size: 1.75rem;
    line-height: 1.3;
    color: #3C3B3A;
    margin-top: 5px;
}

.icons {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 10px 0;
    color: #3C3B3A;
}

.icons p {
    font-size: 1rem;
}

button[type="submit"],
.discover button {
    color: white;
    font-family: Raleway-Regular;
    background-color: #26A682;
    border: 0;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #26A682;
}

button[type="submit"] p,
.discover button[type="submit"] p {
    font-size: 3rem;
    color: white;
    font-family: Raleway-Bold;
}

.home-introduction img{
    max-width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.discover img {
    width: 768px;
    height: 250px;
    object-fit: cover;
}

.discover h1 {
    margin-top: 25px;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
}

.discover h2 {
    font-size: 1.85rem;
    color: #529180;
    margin-top: 15px;
    font-style: normal;
    font-family: Raleway-Light;
}

.discover p {
    font-size: 1.25rem;
    color: #3C3B3A;
    line-height: 2.25;
}
.discover .p-alt {
    display: none;
    font-size: 1.25rem;
    color: #3C3B3A;
    line-height: 2.25;
}

.discover button[type="submit"] p {
    font-size: 1.75rem;
    margin-left: auto;
    margin-right: auto;
}

.discover button[type="submit"] {
    display: flex;
    width: 45%;
    margin-left: auto;
    margin-top: 25px;
}

.quote {
    background-color: #3C3B3A;
    padding-top: 25px;
}

.quote img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 25px auto;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid white;
}

.quote h1 {
    color: white;
    text-align: center;
    margin: 10px;
}

.quote p {
    color: white;
    font-size: 1.25rem;
    line-height: 2.25;
    padding-bottom: 75px;
}



footer {
    background-color: #3C3B3A;
    color: white;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socials {
    text-align: center;
    margin: 50px 0;
}

.socials h1 {
    font-family: Raleway-Light;
    margin-bottom: 10px;
}

.socials img {
    padding: 0 10px;
    vertical-align: middle;
}

.back-to-top {
    text-align: center;
    margin-left: auto;
    margin: 50px 0;
}

.back-to-top p {
    margin: 0;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    header img {
        max-width: 10%;
        margin-right: auto;
        margin-left: 10%;
    }
    
    header a {
        margin-left: 10px;
    }

    .home-introduction h1{
        font-family: Raleway-Bold;
        font-size: 5rem;
        margin-top: 50px;
    }
    
    .home-introduction p {
        font-size: 1.5rem;
    }
    
    .icons {
        grid-template-columns: auto auto auto auto;
        margin: 25px 10%;
    }

    .icons p {
        font-size: 0.75rem;
    }
    
    button[type="submit"],
    .discover button {
        display: block;
        margin: 50px auto;
        width: 40%;
    }
    
    button[type="submit"] p,
    .discover button[type="submit"] p {
        font-size: 2.5rem;
        color: white;
        font-family: Raleway-Bold;
    }
    
    .home-introduction img{
        max-width: 45%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .discover img {
        width: 1000px;
        height: 200px;
        object-fit: cover;
    }
    
    .discover h1 {
        margin-top: 50px;
        font-weight: bold;
        font-style: italic;
        font-size: 2.5rem;
    }
    
    .discover h2 {
        font-size: 1.85rem;
        color: #529180;
        margin-top: 15px;
        font-style: normal;
        font-family: Raleway-Light;
    }
    
    .discover p  {
        display: none;
    }
    
    .discover .p-alt {
        font-size: 1.1rem;
        line-height: 2.25;
        display: block;
    }
    
    .discover button[type="submit"] p {
        display: block;
        font-size: 1.75rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .discover button[type="submit"] {
        display: flex;
        width: 30%;
        margin-left: auto;
        margin-top: 25px;
    }

    #entertainment {
        display: block;
    }
}